#survey-form{
    border: solid 2rem #d4d3d3;
    padding: 0 3rem;
    background: linear-gradient(
9deg
, #e62a2a, transparent);
}
label input{
    margin: 0 1rem;
}

#comments{
    width: 700px;
}
.form-group{
    margin: 2rem 0;
}
button{
    float: right;
}